## PUBPOL542 Deliverable Draft

### Group Member: Matthew Pon
### Organization: HedgehogsAnonymous
* Github Repo: https://github.com/ponmp/PUBPOLDeliverableDraft 
* Organization Repo: https://github.com/HedgehogsAnonymous/PUBPOLDeliverable 

<a id='home'></a>
_____

## Table of contents
[1: Data](#data)

[2: Cleaning](#cleaning)

[3: Shaping](#shaping)

[4: Exporting](#exporting)
_____

<a id='data'></a>
## Data
Data table was found on Wikipedia's list of countries by suicide rates
* Source: https://en.wikipedia.org/wiki/List_of_countries_by_suicide_rate

In [4]:
from IPython.display import IFrame  # call IPython.display function's IFrame 
IFrame("https://en.wikipedia.org/wiki/List_of_countries_by_suicide_rate", width=700, height=300) # IFrame wikipedia page with a resolution of 700px by 300px.

In [5]:
# Make sure PUBPOL environment is active
# Run Jupyter Notebook Kernel

# Make sure PANDAS is installed
!pip show PANDAS
# if not installed uncomment next line and run
#!pip install pandas

# Call PANDAS as PD
import pandas as pd

# Make sure HTML5lib is installed
!pip show HTML5lib
# if not installed uncomment next line and run
#!pip install HTML5lib

Name: pandas
Version: 1.5.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\users\hedgehog\.conda\envs\pubpol\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by: category-encoders, statsmodels
Name: html5lib
Version: 1.1
Summary: HTML parser based on the WHATWG HTML specification
Home-page: https://github.com/html5lib/html5lib-python
Author:
Author-email:
License: MIT License
Location: c:\users\hedgehog\.conda\envs\pubpol\lib\site-packages
Requires: six, webencodings
Required-by:

Once opened you can view the data

In [6]:
MHwiki=pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_suicide_rate", header=0, flavor='bs4', attrs={'class': 'wikitable'})# find name of web element via inspect for "wikitable"

In [7]:
# DFwiki returns all wikitables on the page but we are only concerned with historic suicide rates among both males and females
MHwiki

[                   Country   All  Male  Female
 0            Afghanistan *   6.0   6.2     5.7
 1                  Albania   3.7   5.3     2.2
 2                  Algeria   2.6   3.3     1.9
 3                   Angola  12.6  21.7     4.7
 4      Antigua and Barbuda   0.3   0.0     0.6
 ..                     ...   ...   ...     ...
 185        South-East Asia  10.2  12.3     8.1
 186                 Europe  10.5  17.1     4.3
 187  Eastern Mediterranean   6.4   9.2     3.5
 188        Western Pacific   7.2   9.7     4.8
 189                 Global   9.0  12.6     5.4

 [190 rows x 4 columns],
            Country  2000  2001  2002  2003  2004  2005  2006  2007  2008  ...  \
 0              NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 1    Afghanistan *   7.6   7.9   8.0   7.8   7.9   7.8   7.8   7.7   7.4  ...
 2          Albania   7.6   6.5   6.6   6.6   6.7  10.2  10.1  10.5  10.5  ...
 3          Algeria   5.9   5.7   5.6   5.2   5.0   4.8   4.6   4.4   4.2  ...
 4           Angola  30.0  29.8  29.0  29.1  28.6  27.1  28.4  25.2  25.5  ...
 ..             ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
 179      Venezuela  11.3  11.5  10.7   9.7   8.7   8.3   7.5   7.0   6.5  ...
 180        Vietnam   9.4   9.5   9.3   9.4   9.6   9.6   9.9  10.3  10.6  ...
 181          Yemen  10.5  10.4  10.2  10.1  10.2  10.0   9.8   9.8   9.8  ...
 182         Zambia  35.9  34.3  34.5  34.2  35.8  35.8  35.6  33.4  32.8  ...
 183       Zimbabwe  28.2  28.6  29.8  29.4  30.1  32.1  28.5  36.3  42.0  ...

      2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
 0     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 1     6.9   6.6   6.4   6.3   6.1   6.1   6.2   6.3   6.2   6.2
 2     9.5   7.3   6.6   6.5   6.2   5.7   5.7   5.7   5.6   5.3
 3     3.8   3.7   3.7   3.6   3.5   3.4   3.3   3.2   3.2   3.3
 4    23.9  22.8  24.1  24.3  22.6  22.7  21.8  21.0  21.3  21.7
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 179   6.3   6.9   6.0   4.5   4.0   4.1   3.9   3.9   3.9   3.7
 180  10.7  10.9  11.1  11.1  11.3  11.3  11.2  11.1  10.8  10.6
 181   9.3   9.1   9.1   9.0   9.0   8.7   9.0   8.7   9.0   9.0
 182  33.3  33.4  31.1  30.0  30.2  30.0  29.1  29.1  28.1  25.7
 183  51.6  52.4  50.7  46.4  45.3  47.4  44.5  41.3  38.6  37.8

 [184 rows x 21 columns],
            Country  2000  2001  2002  2003  2004  2005  2006  2007  2008  ...  \
 0              NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 1    Afghanistan *   7.8   7.9   7.7   7.6   7.6   7.4   7.3   7.1   6.9  ...
 2          Albania   2.9   3.0   3.0   3.2   3.1   5.2   5.7   5.7   5.8  ...
 3          Algeria   3.5   3.4   3.3   3.1   2.9   2.8   2.7   2.5   2.4  ...
 4           Angola   6.2   6.1   6.5   6.9   6.8   6.5   6.8   5.9   6.1  ...
 ..             ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
 179      Venezuela   1.7   1.8   1.9   1.8   1.6   1.5   1.3   1.3   1.1  ...
 180        Vietnam   5.2   5.0   4.9   4.8   4.7   4.6   4.5   4.5   4.4  ...
 181          Yemen   6.5   6.5   6.2   6.1   6.2   6.0   5.9   5.8   5.9  ...
 182         Zambia  14.5  13.4  12.6  11.4  11.9  11.4  11.0   9.2   8.2  ...
 183       Zimbabwe  14.2  13.0  13.5  13.7  15.7  15.2  18.2  21.8  25.5  ...

      2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
 0     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 1     6.4   6.2   6.1   6.0   5.9   5.8   5.8   5.5   5.6   5.7
 2     5.9   8.2   3.2   3.2   2.9   2.8   2.7   2.5   2.4   2.2
 3     2.2   2.1   2.1   2.1   2.0   2.0   1.9   1.9   1.9   1.9
 4     5.6   5.2   5.4   5.2   4.8   5.1   5.1   4.9   4.6   4.7
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 179   1.1   0.9   1.0   0.8   0.7   0.8   0.8   0.8   0.7   0.7
 180   4.2   4.2   4.2   4.2   4.3   4.2   4.2   4.2   4.2   4.2
 181   5.5   5.4   5.5   5.4   5.2   5.0   5.1   5.1   5.3   5.3
 182   9.2   9.2   8.7   8.5   7.9   7.1   6.7   6.6   6.0   5.3
 183  23.9  21.8  20.9  21.3  21.1  19.2  17.7  15.0  13.5  13.5

 [184 rows x 21 columns],
            Country  2000  2001  2002  2003  2004  2005  2006  2007  2008  ...  \
 0              NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 1    Afghanistan *   7.7   7.9   7.9   7.7   7.8   7.6   7.6   7.4   7.2  ...
 2          Albania   5.2   4.7   4.8   4.9   4.9   7.7   7.8   8.1   8.1  ...
 3          Algeria   4.7   4.6   4.4   4.1   4.0   3.8   3.7   3.5   3.3  ...
 4           Angola  17.6  17.5  17.2  17.5  17.2  16.3  17.1  15.0  15.3  ...
 ..             ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
 179      Venezuela   6.4   6.5   6.2   5.6   5.1   4.8   4.3   4.0   3.7  ...
 180        Vietnam   7.2   7.1   7.0   7.0   7.0   6.9   7.0   7.2   7.4  ...
 181          Yemen   8.5   8.4   8.2   8.1   8.1   8.0   7.8   7.7   7.8  ...
 182         Zambia  24.0  22.7  22.3  21.5  22.5  22.1  21.8  19.8  19.0  ...
 183       Zimbabwe  20.0  19.5  20.3  20.2  21.5  22.0  22.0  27.2  31.7  ...

      2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
 0     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 1     6.7   6.4   6.2   6.2   6.0   6.0   6.0   6.0   5.9   6.0
 2     7.6   7.6   4.8   4.8   4.5   4.2   4.2   4.1   3.9   3.7
 3     3.0   2.9   2.9   2.9   2.8   2.7   2.6   2.5   2.6   2.6
 4    14.2  13.5  14.2  14.2  13.1  13.3  12.9  12.4  12.4  12.6
 ..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 179   3.6   3.8   3.4   2.6   2.3   2.4   2.3   2.2   2.2   2.1
 180   7.3   7.4   7.5   7.5   7.6   7.6   7.6   7.5   7.4   7.2
 181   7.4   7.2   7.2   7.1   7.0   6.8   7.0   6.9   7.1   7.1
 182  19.7  19.8  18.5  17.9  17.7  17.3  16.7  16.7  15.9  14.4
 183  35.0  34.3  33.1  31.4  30.8  30.7  28.7  25.9  23.9  23.6

 [184 rows x 21 columns],
           Income group (% of global pop)  Suicides, 2012 (in thousands)  \
 0          High-income countries (18.3%)                            197
 1  Upper-middle-income countries (34.3%)                            192
 2  Lower-middle-income countries (35.4%)                            333
 3           Low-income countries (12.0%)                             82
 4                        Global (100.0%)                            804

   Global %  Rate (2012) Male:Female (2012)
 0    24.5%         12.7            3.5 : 1
 1    23.8%          7.5            1.3 : 1
 2    41.4%         14.1            1.7 : 1
 3    10.2%         13.4            1.7 : 1
 4   100.0%         11.4            1.9 : 1  ,
                         Country   Male  Female  Overall Sources & Year
 0    Greenland * (Danish Realm)  75.08   25.18    53.34       2019[21]
 1                   Lithuania *   65.1   12.40    24.40   2018[22][23]
 2                 South Korea *   35.9   16.20    26.00       2021[24]
 3                      Guyana *  41.25   10.20    25.52   2017[25][26]
 4                  Kazakhstan *  40.68    8.01    23.81       2017[26]
 ..                          ...    ...     ...      ...            ...
 107                     Grenada    0.0    0.00     0.00           2008
 108       Saint Kitts and Nevis    0.0    0.00     0.00           1995
 109         Antigua and Barbuda    0.0    0.00     0.00           1995
 110                       Haiti    0.0    0.00     0.00           2003
 111                     Nepal *    0.0    0.00     0.00           2003

 [112 rows x 5 columns]]

_____


<a id='cleaning'></a>
## Cleaning

In [8]:
# Creat a copy and show only the 4th table on the page, all suicide rates
SRwiki=MHwiki[3].copy()
SRwiki

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan *,7.7,7.9,7.9,7.7,7.8,7.6,7.6,7.4,7.2,...,6.7,6.4,6.2,6.2,6.0,6.0,6.0,6.0,5.9,6.0
2,Albania,5.2,4.7,4.8,4.9,4.9,7.7,7.8,8.1,8.1,...,7.6,7.6,4.8,4.8,4.5,4.2,4.2,4.1,3.9,3.7
3,Algeria,4.7,4.6,4.4,4.1,4.0,3.8,3.7,3.5,3.3,...,3.0,2.9,2.9,2.9,2.8,2.7,2.6,2.5,2.6,2.6
4,Angola,17.6,17.5,17.2,17.5,17.2,16.3,17.1,15.0,15.3,...,14.2,13.5,14.2,14.2,13.1,13.3,12.9,12.4,12.4,12.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,6.4,6.5,6.2,5.6,5.1,4.8,4.3,4.0,3.7,...,3.6,3.8,3.4,2.6,2.3,2.4,2.3,2.2,2.2,2.1
180,Vietnam,7.2,7.1,7.0,7.0,7.0,6.9,7.0,7.2,7.4,...,7.3,7.4,7.5,7.5,7.6,7.6,7.6,7.5,7.4,7.2
181,Yemen,8.5,8.4,8.2,8.1,8.1,8.0,7.8,7.7,7.8,...,7.4,7.2,7.2,7.1,7.0,6.8,7.0,6.9,7.1,7.1
182,Zambia,24.0,22.7,22.3,21.5,22.5,22.1,21.8,19.8,19.0,...,19.7,19.8,18.5,17.9,17.7,17.3,16.7,16.7,15.9,14.4
183,Zimbabwe,20.0,19.5,20.3,20.2,21.5,22.0,22.0,27.2,31.7,...,35.0,34.3,33.1,31.4,30.8,30.7,28.7,25.9,23.9,23.6

Columns look fine. Table looks ok except for second row.

In [9]:
SRwiki.columns.to_list()

['Country',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

In [10]:
# Dropping first row of NaN and saving
SRwiki.drop(0, inplace=True)

In [11]:
# Check if first row was dropped
SRwiki.reset_index()
SRwiki

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Afghanistan *,7.7,7.9,7.9,7.7,7.8,7.6,7.6,7.4,7.2,...,6.7,6.4,6.2,6.2,6.0,6.0,6.0,6.0,5.9,6.0
2,Albania,5.2,4.7,4.8,4.9,4.9,7.7,7.8,8.1,8.1,...,7.6,7.6,4.8,4.8,4.5,4.2,4.2,4.1,3.9,3.7
3,Algeria,4.7,4.6,4.4,4.1,4.0,3.8,3.7,3.5,3.3,...,3.0,2.9,2.9,2.9,2.8,2.7,2.6,2.5,2.6,2.6
4,Angola,17.6,17.5,17.2,17.5,17.2,16.3,17.1,15.0,15.3,...,14.2,13.5,14.2,14.2,13.1,13.3,12.9,12.4,12.4,12.6
5,Antigua and Barbuda,2.0,1.9,1.3,1.4,2.0,1.3,0.4,0.3,0.2,...,0.1,0.2,0.0,0.0,0.4,0.4,0.5,0.0,0.3,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,6.4,6.5,6.2,5.6,5.1,4.8,4.3,4.0,3.7,...,3.6,3.8,3.4,2.6,2.3,2.4,2.3,2.2,2.2,2.1
180,Vietnam,7.2,7.1,7.0,7.0,7.0,6.9,7.0,7.2,7.4,...,7.3,7.4,7.5,7.5,7.6,7.6,7.6,7.5,7.4,7.2
181,Yemen,8.5,8.4,8.2,8.1,8.1,8.0,7.8,7.7,7.8,...,7.4,7.2,7.2,7.1,7.0,6.8,7.0,6.9,7.1,7.1
182,Zambia,24.0,22.7,22.3,21.5,22.5,22.1,21.8,19.8,19.0,...,19.7,19.8,18.5,17.9,17.7,17.3,16.7,16.7,15.9,14.4
183,Zimbabwe,20.0,19.5,20.3,20.2,21.5,22.0,22.0,27.2,31.7,...,35.0,34.3,33.1,31.4,30.8,30.7,28.7,25.9,23.9,23.6

In [12]:
# replacing all asterisks and saving
SRwiki.replace("[*]", "", regex=True, inplace=True)
SRwiki.replace("\u202f", "", regex=True, inplace=True)

In [13]:
# Ensuring no leading or trailing spaces
SRwiki.Country.str.strip()

1              Afghanistan
2                  Albania
3                  Algeria
4                   Angola
5      Antigua and Barbuda
              ...
179              Venezuela
180                Vietnam
181                  Yemen
182                 Zambia
183               Zimbabwe
Name: Country, Length: 183, dtype: object

In [14]:
# Checking Country Names
SRwiki.Country.to_list()

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cape Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Ivory Coast',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'North Korea',
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'South Korea',
 'Moldova',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'São Tomé and Príncipe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Thailand',
 'East Timor',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Tanzania',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [15]:
# Checking if correct data types
SRwiki.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 1 to 183
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  183 non-null    object
 1   2000     183 non-null    float64
 2   2001     183 non-null    float64
 3   2002     183 non-null    float64
 4   2003     183 non-null    float64
 5   2004     183 non-null    float64
 6   2005     183 non-null    float64
 7   2006     183 non-null    float64
 8   2007     183 non-null    float64
 9   2008     183 non-null    float64
 10  2009     183 non-null    float64
 11  2010     183 non-null    float64
 12  2011     183 non-null    float64
 13  2012     183 non-null    float64
 14  2013     183 non-null    float64
 15  2014     183 non-null    float64
 16  2015     183 non-null    float64
 17  2016     183 non-null    float64
 18  2017     183 non-null    float64
 19  2018     183 non-null    float64
 20  2019     183 non-null    float64
dtypes: float64(20), object(1)
memory usage: 30.2+ KB

Column names, rows, and table data types are correctly showing.
* Countries have been cleaned of special characters and spaces.
* Columns correctly show country and years.
* Data types show country names as objects and Suicide rates as decimals.

Repeat cleaning and checking for Male Suicide Rate table.

In [16]:
MSRwiki=MHwiki[1].copy() #saving Male Suicide rate table as MSRwiki
MSRwiki

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan *,7.6,7.9,8.0,7.8,7.9,7.8,7.8,7.7,7.4,...,6.9,6.6,6.4,6.3,6.1,6.1,6.2,6.3,6.2,6.2
2,Albania,7.6,6.5,6.6,6.6,6.7,10.2,10.1,10.5,10.5,...,9.5,7.3,6.6,6.5,6.2,5.7,5.7,5.7,5.6,5.3
3,Algeria,5.9,5.7,5.6,5.2,5.0,4.8,4.6,4.4,4.2,...,3.8,3.7,3.7,3.6,3.5,3.4,3.3,3.2,3.2,3.3
4,Angola,30.0,29.8,29.0,29.1,28.6,27.1,28.4,25.2,25.5,...,23.9,22.8,24.1,24.3,22.6,22.7,21.8,21.0,21.3,21.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,11.3,11.5,10.7,9.7,8.7,8.3,7.5,7.0,6.5,...,6.3,6.9,6.0,4.5,4.0,4.1,3.9,3.9,3.9,3.7
180,Vietnam,9.4,9.5,9.3,9.4,9.6,9.6,9.9,10.3,10.6,...,10.7,10.9,11.1,11.1,11.3,11.3,11.2,11.1,10.8,10.6
181,Yemen,10.5,10.4,10.2,10.1,10.2,10.0,9.8,9.8,9.8,...,9.3,9.1,9.1,9.0,9.0,8.7,9.0,8.7,9.0,9.0
182,Zambia,35.9,34.3,34.5,34.2,35.8,35.8,35.6,33.4,32.8,...,33.3,33.4,31.1,30.0,30.2,30.0,29.1,29.1,28.1,25.7
183,Zimbabwe,28.2,28.6,29.8,29.4,30.1,32.1,28.5,36.3,42.0,...,51.6,52.4,50.7,46.4,45.3,47.4,44.5,41.3,38.6,37.8

In [17]:
MSRwiki.columns.to_list() # check columns

['Country',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

In [18]:
# Dropping first row of NaN and saving
MSRwiki.drop(0, inplace=True)

In [19]:
MSRwiki.reset_index() #reset index and check
MSRwiki

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Afghanistan *,7.6,7.9,8.0,7.8,7.9,7.8,7.8,7.7,7.4,...,6.9,6.6,6.4,6.3,6.1,6.1,6.2,6.3,6.2,6.2
2,Albania,7.6,6.5,6.6,6.6,6.7,10.2,10.1,10.5,10.5,...,9.5,7.3,6.6,6.5,6.2,5.7,5.7,5.7,5.6,5.3
3,Algeria,5.9,5.7,5.6,5.2,5.0,4.8,4.6,4.4,4.2,...,3.8,3.7,3.7,3.6,3.5,3.4,3.3,3.2,3.2,3.3
4,Angola,30.0,29.8,29.0,29.1,28.6,27.1,28.4,25.2,25.5,...,23.9,22.8,24.1,24.3,22.6,22.7,21.8,21.0,21.3,21.7
5,Antigua and Barbuda,4.5,4.2,2.8,3.2,4.3,2.9,0.9,0.7,0.5,...,0.3,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,11.3,11.5,10.7,9.7,8.7,8.3,7.5,7.0,6.5,...,6.3,6.9,6.0,4.5,4.0,4.1,3.9,3.9,3.9,3.7
180,Vietnam,9.4,9.5,9.3,9.4,9.6,9.6,9.9,10.3,10.6,...,10.7,10.9,11.1,11.1,11.3,11.3,11.2,11.1,10.8,10.6
181,Yemen,10.5,10.4,10.2,10.1,10.2,10.0,9.8,9.8,9.8,...,9.3,9.1,9.1,9.0,9.0,8.7,9.0,8.7,9.0,9.0
182,Zambia,35.9,34.3,34.5,34.2,35.8,35.8,35.6,33.4,32.8,...,33.3,33.4,31.1,30.0,30.2,30.0,29.1,29.1,28.1,25.7
183,Zimbabwe,28.2,28.6,29.8,29.4,30.1,32.1,28.5,36.3,42.0,...,51.6,52.4,50.7,46.4,45.3,47.4,44.5,41.3,38.6,37.8

In [20]:
# replacing all asterisks and saving
MSRwiki.replace("[*]", "", regex=True, inplace=True)
MSRwiki.replace("\u202f", "", regex=True, inplace=True)

In [21]:
MSRwiki.Country.str.strip() #remove leading and trailing spaces

1              Afghanistan
2                  Albania
3                  Algeria
4                   Angola
5      Antigua and Barbuda
              ...
179              Venezuela
180                Vietnam
181                  Yemen
182                 Zambia
183               Zimbabwe
Name: Country, Length: 183, dtype: object

In [22]:
# Checking Country Names
MSRwiki.Country.to_list()

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cape Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Ivory Coast',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'North Korea',
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'South Korea',
 'Moldova',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'São Tomé and Príncipe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Thailand',
 'East Timor',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Tanzania',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [23]:
# Checking if correct data types
MSRwiki.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 1 to 183
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  183 non-null    object
 1   2000     183 non-null    float64
 2   2001     183 non-null    float64
 3   2002     183 non-null    float64
 4   2003     183 non-null    float64
 5   2004     183 non-null    float64
 6   2005     183 non-null    float64
 7   2006     183 non-null    float64
 8   2007     183 non-null    float64
 9   2008     183 non-null    float64
 10  2009     183 non-null    float64
 11  2010     183 non-null    float64
 12  2011     183 non-null    float64
 13  2012     183 non-null    float64
 14  2013     183 non-null    float64
 15  2014     183 non-null    float64
 16  2015     183 non-null    float64
 17  2016     183 non-null    float64
 18  2017     183 non-null    float64
 19  2018     183 non-null    float64
 20  2019     183 non-null    float64
dtypes: float64(20), object(1)
memory usage: 30.2+ KB

Repeat for Female Suicide Rates

In [24]:
# Create a copy of Female Suicide Rates as FSRwiki
FSRwiki=MHwiki[2].copy()
FSRwiki

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan *,7.8,7.9,7.7,7.6,7.6,7.4,7.3,7.1,6.9,...,6.4,6.2,6.1,6.0,5.9,5.8,5.8,5.5,5.6,5.7
2,Albania,2.9,3.0,3.0,3.2,3.1,5.2,5.7,5.7,5.8,...,5.9,8.2,3.2,3.2,2.9,2.8,2.7,2.5,2.4,2.2
3,Algeria,3.5,3.4,3.3,3.1,2.9,2.8,2.7,2.5,2.4,...,2.2,2.1,2.1,2.1,2.0,2.0,1.9,1.9,1.9,1.9
4,Angola,6.2,6.1,6.5,6.9,6.8,6.5,6.8,5.9,6.1,...,5.6,5.2,5.4,5.2,4.8,5.1,5.1,4.9,4.6,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,1.7,1.8,1.9,1.8,1.6,1.5,1.3,1.3,1.1,...,1.1,0.9,1.0,0.8,0.7,0.8,0.8,0.8,0.7,0.7
180,Vietnam,5.2,5.0,4.9,4.8,4.7,4.6,4.5,4.5,4.4,...,4.2,4.2,4.2,4.2,4.3,4.2,4.2,4.2,4.2,4.2
181,Yemen,6.5,6.5,6.2,6.1,6.2,6.0,5.9,5.8,5.9,...,5.5,5.4,5.5,5.4,5.2,5.0,5.1,5.1,5.3,5.3
182,Zambia,14.5,13.4,12.6,11.4,11.9,11.4,11.0,9.2,8.2,...,9.2,9.2,8.7,8.5,7.9,7.1,6.7,6.6,6.0,5.3
183,Zimbabwe,14.2,13.0,13.5,13.7,15.7,15.2,18.2,21.8,25.5,...,23.9,21.8,20.9,21.3,21.1,19.2,17.7,15.0,13.5,13.5

In [25]:
FSRwiki.columns.to_list() # check columns

['Country',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

In [26]:
# Dropping first row of NaN and saving
FSRwiki.drop(0, inplace=True)

In [27]:
FSRwiki.reset_index() #reset index and check
FSRwiki

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Afghanistan *,7.8,7.9,7.7,7.6,7.6,7.4,7.3,7.1,6.9,...,6.4,6.2,6.1,6.0,5.9,5.8,5.8,5.5,5.6,5.7
2,Albania,2.9,3.0,3.0,3.2,3.1,5.2,5.7,5.7,5.8,...,5.9,8.2,3.2,3.2,2.9,2.8,2.7,2.5,2.4,2.2
3,Algeria,3.5,3.4,3.3,3.1,2.9,2.8,2.7,2.5,2.4,...,2.2,2.1,2.1,2.1,2.0,2.0,1.9,1.9,1.9,1.9
4,Angola,6.2,6.1,6.5,6.9,6.8,6.5,6.8,5.9,6.1,...,5.6,5.2,5.4,5.2,4.8,5.1,5.1,4.9,4.6,4.7
5,Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.2,0.0,0.0,0.8,0.8,0.9,0.0,0.6,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,1.7,1.8,1.9,1.8,1.6,1.5,1.3,1.3,1.1,...,1.1,0.9,1.0,0.8,0.7,0.8,0.8,0.8,0.7,0.7
180,Vietnam,5.2,5.0,4.9,4.8,4.7,4.6,4.5,4.5,4.4,...,4.2,4.2,4.2,4.2,4.3,4.2,4.2,4.2,4.2,4.2
181,Yemen,6.5,6.5,6.2,6.1,6.2,6.0,5.9,5.8,5.9,...,5.5,5.4,5.5,5.4,5.2,5.0,5.1,5.1,5.3,5.3
182,Zambia,14.5,13.4,12.6,11.4,11.9,11.4,11.0,9.2,8.2,...,9.2,9.2,8.7,8.5,7.9,7.1,6.7,6.6,6.0,5.3
183,Zimbabwe,14.2,13.0,13.5,13.7,15.7,15.2,18.2,21.8,25.5,...,23.9,21.8,20.9,21.3,21.1,19.2,17.7,15.0,13.5,13.5

In [28]:
# replacing all asterisks and saving
FSRwiki.replace("[*]", "", regex=True, inplace=True)
FSRwiki.replace("\u202f", "", regex=True, inplace=True)

In [29]:
FSRwiki.Country.str.strip() #remove leading and trailing spaces

1              Afghanistan
2                  Albania
3                  Algeria
4                   Angola
5      Antigua and Barbuda
              ...
179              Venezuela
180                Vietnam
181                  Yemen
182                 Zambia
183               Zimbabwe
Name: Country, Length: 183, dtype: object

In [30]:
# Checking Country Names
FSRwiki.Country.to_list()

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cape Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Ivory Coast',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'North Korea',
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'South Korea',
 'Moldova',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'São Tomé and Príncipe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Thailand',
 'East Timor',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Tanzania',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [31]:
# Checking if correct data types
FSRwiki.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 1 to 183
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  183 non-null    object
 1   2000     183 non-null    float64
 2   2001     183 non-null    float64
 3   2002     183 non-null    float64
 4   2003     183 non-null    float64
 5   2004     183 non-null    float64
 6   2005     183 non-null    float64
 7   2006     183 non-null    float64
 8   2007     183 non-null    float64
 9   2008     183 non-null    float64
 10  2009     183 non-null    float64
 11  2010     183 non-null    float64
 12  2011     183 non-null    float64
 13  2012     183 non-null    float64
 14  2013     183 non-null    float64
 15  2014     183 non-null    float64
 16  2015     183 non-null    float64
 17  2016     183 non-null    float64
 18  2017     183 non-null    float64
 19  2018     183 non-null    float64
 20  2019     183 non-null    float64
dtypes: float64(20), object(1)
memory usage: 30.2+ KB

In [40]:
# Add Female suffix to Country Name
FSRwiki=FSRwiki.Country.add_suffix('_Female')

In [41]:
FSRwiki

1_Female              Afghanistan
2_Female                  Albania
3_Female                  Algeria
4_Female                   Angola
5_Female      Antigua and Barbuda
                     ...
179_Female              Venezuela
180_Female                Vietnam
181_Female                  Yemen
182_Female                 Zambia
183_Female               Zimbabwe
Name: Country, Length: 183, dtype: object

_____


<a id='shaping'></a>

## Shaping

Now we put all the data into the same table.

In [34]:
# All data has been cleaned, formated, and checked. We merge tables
# Check all column names are the same among tables
set(SRwiki.columns)&set(MSRwiki)&set(FSRwiki)

{'2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 'Country'}

In [36]:
ASRwiki=pd.concat([SRwiki,MSRwiki,FSRwiki]) #concatenate all tables
ASRwiki #show concatenated table

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Afghanistan,7.7,7.9,7.9,7.7,7.8,7.6,7.6,7.4,7.2,...,6.7,6.4,6.2,6.2,6.0,6.0,6.0,6.0,5.9,6.0
2,Albania,5.2,4.7,4.8,4.9,4.9,7.7,7.8,8.1,8.1,...,7.6,7.6,4.8,4.8,4.5,4.2,4.2,4.1,3.9,3.7
3,Algeria,4.7,4.6,4.4,4.1,4.0,3.8,3.7,3.5,3.3,...,3.0,2.9,2.9,2.9,2.8,2.7,2.6,2.5,2.6,2.6
4,Angola,17.6,17.5,17.2,17.5,17.2,16.3,17.1,15.0,15.3,...,14.2,13.5,14.2,14.2,13.1,13.3,12.9,12.4,12.4,12.6
5,Antigua and Barbuda,2.0,1.9,1.3,1.4,2.0,1.3,0.4,0.3,0.2,...,0.1,0.2,0.0,0.0,0.4,0.4,0.5,0.0,0.3,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,1.7,1.8,1.9,1.8,1.6,1.5,1.3,1.3,1.1,...,1.1,0.9,1.0,0.8,0.7,0.8,0.8,0.8,0.7,0.7
180,Vietnam,5.2,5.0,4.9,4.8,4.7,4.6,4.5,4.5,4.4,...,4.2,4.2,4.2,4.2,4.3,4.2,4.2,4.2,4.2,4.2
181,Yemen,6.5,6.5,6.2,6.1,6.2,6.0,5.9,5.8,5.9,...,5.5,5.4,5.5,5.4,5.2,5.0,5.1,5.1,5.3,5.3
182,Zambia,14.5,13.4,12.6,11.4,11.9,11.4,11.0,9.2,8.2,...,9.2,9.2,8.7,8.5,7.9,7.1,6.7,6.6,6.0,5.3
183,Zimbabwe,14.2,13.0,13.5,13.7,15.7,15.2,18.2,21.8,25.5,...,23.9,21.8,20.9,21.3,21.1,19.2,17.7,15.0,13.5,13.5

_____


<a id='exporting'></a>

## Exporting
Now that the data has been imported and cleaned, we export the data as .pkl so we can use it in Rstudio.

In [33]:
# export SRwiki as SRwiki.pkl
SRwiki.to_pickle("WorldSuicideRates.pkl")
print("Exported to pickle.")

Exported to pickle.

In [37]:
# export to ASRwiki as ASRwiki.csv
ASRwiki.to_csv("ASRwiki.csv")
print("Exported to .csv")

Exported to .csv